.Header {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}
.header-left {
  width: 5%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
}

/* .header-left > .logo {
} */

.header-left > .name {
  color: #c62917;
}

.header-middle {
  flex-grow: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header-middle > div {
  height: 100%;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  font-weight: 500;
  cursor: pointer;
}
.header-right {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-right > div {
  height: 30px;
  width: 30px;
  margin: 5px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
}

.item0 {
  color: #c62917;
  border-bottom: 3px solid #c62917;
  /* border: 1px solid black; */
}
