.Login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 360px;
  height: max-content;
  /* border: 1px solid black; */
}

.first-box {
  width: 100%;
  height: 70px;
  /* background-color: #ccc; */
  display: flex;
}

.logo {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.desc {
  width: 80%;
  display: flex;
  align-items: flex-end;
  padding-left: 20px;
}

.input-box {
  width: 100%;
  height: 60%;
}

.input-box input {
  width: 95%;
  padding: 0px;
  margin: 3px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
  border: 1px #ccc solid;
  box-sizing: border-box;
  font-size: 18px;
}
.signin-box {
  width: 100%;
  height: 20%;
}
.signin-box p {
  display: inline-block;
}
.btn {
  background: #c62917;
  color: white;
}
