.PostDetail {
  width: 780px;
  /* height: 270px; */
  /* border: 1px solid black;å */
  /* padding: 15px; */
}

.body-container {
  border: 1px solid #bbb;
  padding: 15px;
}

/* layout */

.post-top {
  width: 100%;
  height: 40px;
  /* border: 1px solid black; */

  display: flex;
  flex-direction: row;
}

.detail-content {
  width: 100%;
  /* border: 1px solid black; */
  margin-top: 10px;
}

.like-btn {
  width: 60px;
  height: 30px;
  /* border: 1px solid black; */
  margin-top: 10px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #ccc;
}
.post-comment {
  width: 100%;
  height: 30px;
  border: 1px solid black;
  margin-top: 10px;
}

/* detail top box */

.user-photo {
  height: 100%;
  width: 40px;
  margin-right: 5px;
}

.info-box {
  height: 100%;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-id {
  width: 100%;
  height: 20px;
  /* border: 1px solid black; */
  font-size: 15px;
  font-weight: 500;
}
.time {
  height: 15px;
  width: 100%;
  /* border: 1px solid black; */
  color: #a6a6a6;
  font-size: 12px;
}

/* detail content box */

.detail-title {
  width: 100%;
  min-height: 30px;
  font-size: 22px;
  font-weight: bold;
}

.detail-body {
  width: 100%;
  min-height: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.detail-etc {
  /* height: 25px; */
  /* width: 20%; */
  display: flex;
  font-size: 14px;
  /* justify-content: space-between; */
}

.detail-like {
  color: #c62917;
  margin-right: 10px;
}

.detail-comment {
  color: #0ca5af;
}
